doctype html
html(lang='pl')
    head
        title='Lista Zwierzat'
    body
        nav
            ul
                li
                    a(href="/") Start
                li
                    a(href="/list") Lista
                li
                    a(href="/add") Dodaj
                li
                    a(href="/delete") Usuń
                li
                    a(href="/modify") Modyfikuj
        main#main
            block content
        footer#footer
            p.fotter-paragraf Web Applications - Projekt Zaliczeniowy - Mateusz Bugaj