doctype html
html(lang='pl')
    head
        title = 'Projekt Zaliczeniowy'
    body
        main#main
            h1 #{title}
        footer#footer
            p.footer-paragraf Web Applications - Projekt Zaliczeniowy - Mateusz Bugaj
        